<h1>Ask-Experts!</h1>

<div ng-show="questions.length">
  <h4>Search questions by key terms:</h4>
  <form role="form">
    <div class="form-group">
      <input ng-model="query.$" type="text" class="form-control" placeholder="Find a question" id="question-name" required>
      <div class="checkbox">
        <label>
          <input ng-model="query.answered" type="checkbox" ng-true-value="true" ng-false-value="" toggle-class="toggle-calm">Show answered questions only
        </label>
      </div>
    </div>
  </form>
  <hr/>

  <h2 ng-show="questions.length && filtered.length">Here are all of your questions:</h2>
  <h2 ng-show="questions.length && !filtered.length">No Matches</h2>
  <ul>
    <li ng-repeat="item in filtered = (questions | filter:query)">
      <a ui-sref="questions.answers({ questionId: item.id })">{{ item.name }}</a> <i class="fa fa-check-circle-o" ng-show="item.answered"></i>
    </li>
  </ul>
</div>

<!-- answers field -->
<div ui-view></div>

<hr/>
<!-- <div class="col-md-4"> -->
  <h2>Ask a new question:</h2>
  <form ng-submit="QuestionsFactory.addQuestion()" role="form">
    <div class="form-group">
      <input type="text" ng-model="QuestionsFactory.questionName" class="form-control" placeholder="Ask a question" required>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
<!-- </div> -->
